:host {
  ::ng-deep {
    .panelCustomClass {
      max-width: 1024px;
      margin: auto;
      margin-bottom: 0.5rem;
      .btn.btn-link {
        margin-bottom: 0;
      }
      .card-header {
        padding: 1rem;
      }

      .panel-body {
        padding: 1rem;
        padding-top: 0;
      }
    }
  }
}
