<section class="h-100 d-flex justify-content-center align-items-center">
    <div class="departmentForm card mt-2 col-md-5">
        <div class="card-body">
            <div class="card-header p-0">
                <h6> Update Department</h6>
                <p class="text-xs">Edit department info and save your changes.</p>
            </div>
            <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
                <div class="form-group mt-3">
                    <label for="name" class="control-label">Department Name</label>
                    <input type="text" id="name" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': name?.touched && name?.invalid,
                                     'is-valid': name?.touched && name?.valid }" />
                    <div *ngIf="name?.touched && name?.invalid" class="invalid-feedback">
                        <div *ngFor="let error of getControlError('name', 'Department name')">
                            {{ error }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description"> Description</label>
                    <textarea id="description" class="form-control" formControlName="description" [ngClass]="{ 'is-invalid': description?.touched && description?.invalid,
                                     'is-valid': description?.touched && description?.valid }">
                    </textarea>
                    <div *ngIf="description?.touched && description?.invalid" class="invalid-feedback">
                        <div *ngFor="let error of getControlError('description', 'Description')">
                            {{ error }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="invocationDate"> Invocation Date</label>
                    <input type="date" id="invocationDate" class="form-control" formControlName="invocationDate"
                        [ngClass]="{ 'border-success': true }" readonly />
                </div>

                <div class="card-footer justify-content-end p-0 d-flex gap-2">
                    <button type="button" class="btn btn-danger" (click)="onFormReset()">Reset</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!id?.value">Update</button>
                </div>
            </form>
        </div>
    </div>
</section>